article {
    grid-area: content;
    margin: 1.3em auto;
}

.card-box {
    margin-top: 1em;
    width: 550px !important;
    .card-title {
        padding: 0.5em;
        text-align: center;
    }
    .caption-textarea {
        height: 100px;
    }
    .checker-textarea {
        height: 200px;
    }       
}