@import "~bootstrap/scss/bootstrap";
@import 'variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $dark-blue;
}

* {
  box-sizing: border-box;
}

@import 'header.scss';
@import 'content.scss';

.home-wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "content";
}

//for tablet and mobile screen size
@media (max-width: 768px ) {
  .home-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content";
  }
}

//for mobile screen size
@media (max-width: 425px ) {
  article {
    margin: 1em;
  }
}