header {
    grid-area: header;
    background-color: $dark;
    #app-title {
        color: $light;
        text-align: center;
        margin: 1em;
        text-transform: uppercase; 
    }
    p {
        color: $light;
        text-align: center;
    }
}

